target/
tmp/
logs/
.lein-failures
.lein-repl-history
.lein-deps-sum
*.sublime-project
*.sublime-workspace
.vagrant
*.war
*.jar
*.log
*.zip
\#*\#
.\#*
travis-artifacts
pom.xml
version.txt
checkouts/
resources/*_config.json
.nrepl-port
*.swp
*.rdb
playground.clj
node_modules
*.iml
.idea
